NET "xipMCLK"        LOC = "P83";
NET "xinRESET"       LOC = "P85";
NET "xopCAM_PWDN"    LOC = "P58";
NET "xipCAM_VSYNC"   LOC = "P35";
NET "xipCAM_HREF"    LOC = "P36";
NET "xipCAM_PCLK"    LOC = "P40";
NET "xopCAM_XCLK"    LOC = "P41";
NET "xonCAM_RESET"   LOC = "P57";
NET "xipCAM_D[0]"    LOC = "P60";
NET "xipCAM_D[1]"    LOC = "P61";
NET "xipCAM_D[2]"    LOC = "P62";
NET "xipCAM_D[3]"    LOC = "P63";
NET "xipCAM_D[4]"    LOC = "P65";
NET "xipCAM_D[5]"    LOC = "P66";
NET "xipCAM_D[6]"    LOC = "P67";
NET "xipCAM_D[7]"    LOC = "P68";
NET "xopTXD"         LOC = "P33";
NET "xipRXD"         LOC = "P34";
NET "xipSW1"         LOC = "P22";
NET "xipSW2"         LOC = "P23";
NET "xipSW3"         LOC = "P24";
NET "xipSW4"         LOC = "P26";
NET "xonLED1"        LOC = "P54";
NET "xonLED2"        LOC = "P53";
NET "xon7Seg1_A"     LOC = "P91";
NET "xon7Seg1_B"     LOC = "P92";
NET "xon7Seg1_C"     LOC = "P12";
NET "xon7Seg1_D"     LOC = "P15";
NET "xon7Seg1_E"     LOC = "P16";
NET "xon7Seg1_F"     LOC = "P90";
NET "xon7Seg1_G"     LOC = "P86";
NET "xon7Seg1_DP"    LOC = "P11";
NET "xon7Seg2_A"     LOC = "P3";
NET "xon7Seg2_B"     LOC = "P2";
NET "xon7Seg2_C"     LOC = "P5";
NET "xon7Seg2_D"     LOC = "P9";
NET "xon7Seg2_E"     LOC = "P10";
NET "xon7Seg2_F"     LOC = "P95";
NET "xon7Seg2_G"     LOC = "P94";
NET "xon7Seg2_DP"    LOC = "P4";
#Created by Constraints Editor (xc3s500e-vq100-4) - 2012/09/01
NET "xipMCLK" TNM_NET = xipMCLK;
TIMESPEC TS1 = PERIOD "xipMCLK" 100 ns HIGH 50%;
NET "xipCAM_PCLK" TNM_NET = xipCAM_PCLK;
TIMESPEC TS2 = PERIOD "xipCAM_PCLK" 30 ns HIGH 50%;
NET "uart_transaction/uart_io/i_RxClk/cgate01a/latched" TNM_NET = uart_transaction/uart_io/i_RxClk/cgate01a/latched;
TIMESPEC TS_uart_transaction_uart_io_i_RxClk_cgate01a_latched = PERIOD "uart_transaction/uart_io/i_RxClk/cgate01a/latched" 20 ns HIGH 50%;
NET "uart_transaction/uart_io/i_TxClk/cgate01a/latched" TNM_NET = uart_transaction/uart_io/i_TxClk/cgate01a/latched;
TIMESPEC TS_uart_transaction_uart_io_i_TxClk_cgate01a_latched = PERIOD "uart_transaction/uart_io/i_TxClk/cgate01a/latched" 20 ns HIGH 50%;
NET "clock_reset/cam_clk" TNM_NET = clock_reset/cam_clk;
TIMESPEC TS_clock_reset_cam_clk = PERIOD "clock_reset/cam_clk" 20 ns HIGH 50%;
#Created by Constraints Editor (xc3s500e-vq100-4) - 2012/09/01
NET "xipCAM_D<0>" OFFSET = IN 15 ns VALID 30 ns BEFORE "xipCAM_PCLK" RISING;
NET "xipCAM_D<1>" OFFSET = IN 15 ns VALID 30 ns BEFORE "xipCAM_PCLK" RISING;
NET "xipCAM_D<2>" OFFSET = IN 15 ns VALID 30 ns BEFORE "xipCAM_PCLK" RISING;
NET "xipCAM_D<3>" OFFSET = IN 15 ns VALID 30 ns BEFORE "xipCAM_PCLK" RISING;
NET "xipCAM_D<4>" OFFSET = IN 15 ns VALID 30 ns BEFORE "xipCAM_PCLK" RISING;
NET "xipCAM_D<5>" OFFSET = IN 15 ns VALID 30 ns BEFORE "xipCAM_PCLK" RISING;
NET "xipCAM_D<6>" OFFSET = IN 15 ns VALID 30 ns BEFORE "xipCAM_PCLK" RISING;
NET "xipCAM_D<7>" OFFSET = IN 15 ns VALID 30 ns BEFORE "xipCAM_PCLK" RISING;
NET "xipCAM_HREF" OFFSET = IN 15 ns VALID 30 ns BEFORE "xipCAM_PCLK" RISING;
NET "xipCAM_VSYNC" OFFSET = IN 15 ns VALID 30 ns BEFORE "xipCAM_PCLK" RISING;
NET "xonCAM_RESET" OFFSET = OUT 100 ns AFTER "xipMCLK";
NET "xopCAM_XCLK" OFFSET = OUT 100 ns AFTER "xipMCLK";
