
NET "xbpDATA1[0]" LOC = N7;
NET "xbpDATA1[1]" LOC = T8;
NET "xbpDATA1[3]" LOC = T5;
NET "xbpDATA1[2]" LOC = R6;
NET "xbpDATA1[4]" LOC = R5;
NET "xbpDATA1[5]" LOC = C2;
NET "xbpDATA1[6]" LOC = C1;
NET "xbpDATA1[7]" LOC = B1;
NET "xbpDATA1[8]" LOC = D3;
NET "xbpDATA1[9]" LOC = P8;
NET "xbpDATA1[10]" LOC = F2;
NET "xbpDATA1[11]" LOC = H1;
NET "xbpDATA1[12]" LOC = J2;
NET "xbpDATA1[13]" LOC = L2;
NET "xbpDATA1[14]" LOC = P1;
NET "xbpDATA1[15]" LOC = R1;
NET "xbpDATA2[0]" LOC = P2;
NET "xbpDATA2[1]" LOC = N2;
NET "xbpDATA2[2]" LOC = M2;
NET "xbpDATA2[3]" LOC = K1;
NET "xbpDATA2[4]" LOC = J1;
NET "xbpDATA2[5]" LOC = G2;
NET "xbpDATA2[6]" LOC = E1;
NET "xbpDATA2[7]" LOC = D1;
NET "xbpDATA2[8]" LOC = D2;
NET "xbpDATA2[9]" LOC = E2;
NET "xbpDATA2[10]" LOC = G1;
NET "xbpDATA2[11]" LOC = F5;
NET "xbpDATA2[12]" LOC = C3;
NET "xbpDATA2[13]" LOC = K2;
NET "xbpDATA2[14]" LOC = M1;
NET "xbpDATA2[15]" LOC = N1;
NET "xopAddr[0]" LOC = L5;
NET "xopAddr[1]" LOC = N3;
NET "xopAddr[2]" LOC = M4;
NET "xopAddr[3]" LOC = M3;
NET "xopAddr[4]" LOC = L4;
NET "xopAddr[5]" LOC = G4;
NET "xopAddr[6]" LOC = F3;
NET "xopAddr[7]" LOC = F4;
NET "xopAddr[8]" LOC = E3;
NET "xopAddr[9]" LOC = E4;
NET "xopAddr[10]" LOC = G5;
NET "xopAddr[11]" LOC = H3;
NET "xopAddr[12]" LOC = H4;
NET "xopAddr[13]" LOC = J4;
NET "xopAddr[14]" LOC = J3;
NET "xopAddr[15]" LOC = K3;
NET "xopAddr[16]" LOC = K5;
NET "xopAddr[17]" LOC = L3;
NET "xonCE1" LOC = P7;
NET "xonUB1" LOC = T4;
NET "xonLB1" LOC = P6;
NET "xonCE2" LOC = N5;
NET "xonLB2" LOC = P5;
NET "xonUB2" LOC = R4;
NET "xonOE" LOC = K4;
NET "xonWE" LOC = G3;
NET "xopLD0" LOC = K12;
NET "xopLD1" LOC = P14;
NET "xopLD2" LOC = L12;
NET "xopLD3" LOC = N14;
NET "xopLD4" LOC = P13;
NET "xopLD5" LOC = N12;
NET "xopLD6" LOC = P12;
NET "xopLD7" LOC = P11;
NET "xipMCLK" LOC = T9;
NET "xipRESET" LOC = L14;
NET "xopTXD" LOC = R13;
NET "xipCAM_PCLK" LOC = D9;
NET "xipCAM_D[7]" LOC = E7;
NET "xipCAM_D[6]" LOC = D7;
NET "xipCAM_D[5]" LOC = D8;
NET "xipCAM_D[4]" LOC = D10;
NET "xipCAM_D[3]" LOC = B4;
NET "xipCAM_D[2]" LOC = B5;
NET "xipCAM_D[1]" LOC = B6;
NET "xipCAM_D[0]" LOC = A7;
NET "xipCAM_HREF" LOC = A12;
NET "xipCAM_VSYNC" LOC = A13;
NET "xopCAM_XCLK" LOC = B11;
NET "xopCAM_SIO_C" LOC = B10;
NET "xbpCAM_SIO_D" LOC = A8;

NET "xipCAM_HREF" IOSTANDARD = LVCMOS25;
NET "xbpDATA1[15]" IOSTANDARD = LVCMOS33;
NET "xbpDATA1[14]" IOSTANDARD = LVCMOS33;
NET "xbpDATA1[13]" IOSTANDARD = LVCMOS33;
NET "xbpDATA1[11]" IOSTANDARD = LVCMOS33;
NET "xbpDATA1[12]" IOSTANDARD = LVCMOS33;
NET "xbpDATA1[10]" IOSTANDARD = LVCMOS33;
NET "xbpDATA1[9]" IOSTANDARD = LVCMOS33;
NET "xbpDATA1[8]" IOSTANDARD = LVCMOS33;
NET "xbpDATA1[7]" IOSTANDARD = LVCMOS33;
NET "xbpDATA1[6]" IOSTANDARD = LVCMOS33;
NET "xbpDATA1[5]" IOSTANDARD = LVCMOS33;
NET "xbpDATA1[4]" IOSTANDARD = LVCMOS33;
NET "xbpDATA1[3]" IOSTANDARD = LVCMOS33;
NET "xbpDATA1[2]" IOSTANDARD = LVCMOS33;
NET "xbpDATA1[1]" IOSTANDARD = LVCMOS33;
NET "xbpDATA1[0]" IOSTANDARD = LVCMOS33;
NET "xbpDATA2[0]" IOSTANDARD = LVCMOS33;
NET "xbpDATA2[1]" IOSTANDARD = LVCMOS33;
NET "xbpDATA2[2]" IOSTANDARD = LVCMOS33;
NET "xbpDATA2[3]" IOSTANDARD = LVCMOS33;
NET "xbpDATA2[4]" IOSTANDARD = LVCMOS33;
NET "xbpDATA2[5]" IOSTANDARD = LVCMOS33;
NET "xbpDATA2[6]" IOSTANDARD = LVCMOS33;
NET "xbpDATA2[7]" IOSTANDARD = LVCMOS33;
NET "xbpDATA2[8]" IOSTANDARD = LVCMOS33;
NET "xbpDATA2[9]" IOSTANDARD = LVCMOS33;
NET "xbpDATA2[10]" IOSTANDARD = LVCMOS33;
NET "xbpDATA2[11]" IOSTANDARD = LVCMOS33;
NET "xbpDATA2[12]" IOSTANDARD = LVCMOS33;
NET "xbpDATA2[13]" IOSTANDARD = LVCMOS33;
NET "xbpDATA2[14]" IOSTANDARD = LVCMOS33;
NET "xbpDATA2[15]" IOSTANDARD = LVCMOS33;
NET "xopAddr[0]" IOSTANDARD = LVCMOS33;
NET "xopAddr[1]" IOSTANDARD = LVCMOS33;
NET "xopAddr[2]" IOSTANDARD = LVCMOS33;
NET "xopAddr[3]" IOSTANDARD = LVCMOS33;
NET "xopAddr[4]" IOSTANDARD = LVCMOS33;
NET "xopAddr[5]" IOSTANDARD = LVCMOS33;
NET "xopAddr[6]" IOSTANDARD = LVCMOS33;
NET "xopAddr[7]" IOSTANDARD = LVCMOS33;
NET "xopAddr[8]" IOSTANDARD = LVCMOS33;
NET "xopAddr[9]" IOSTANDARD = LVCMOS33;
NET "xopAddr[10]" IOSTANDARD = LVCMOS33;
NET "xopAddr[11]" IOSTANDARD = LVCMOS33;
NET "xopAddr[12]" IOSTANDARD = LVCMOS33;
NET "xopAddr[13]" IOSTANDARD = LVCMOS33;
NET "xopAddr[14]" IOSTANDARD = LVCMOS33;
NET "xopAddr[15]" IOSTANDARD = LVCMOS33;
NET "xopAddr[16]" IOSTANDARD = LVCMOS33;
NET "xopAddr[17]" IOSTANDARD = LVCMOS33;
NET "xonCE1" IOSTANDARD = LVCMOS33;
NET "xonCE2" IOSTANDARD = LVCMOS33;
NET "xonLB1" IOSTANDARD = LVCMOS33;
NET "xonLB2" IOSTANDARD = LVCMOS33;
NET "xonOE" IOSTANDARD = LVCMOS33;
NET "xonUB1" IOSTANDARD = LVCMOS33;
NET "xonUB2" IOSTANDARD = LVCMOS33;
NET "xonWE" IOSTANDARD = LVCMOS33;
NET "xbpCAM_SIO_D" PULLUP;
NET "xopCAM_SIO_C" PULLUP;
NET "xbpCAM_SIO_D" IOSTANDARD = LVCMOS25;
NET "xopCAM_SIO_C" IOSTANDARD = LVCMOS25;
#Created by Constraints Editor (xc3s200-ft256-4) - 2013/02/11
NET "clk_reset/div2clk1" TNM_NET = "clk_reset/div2clk1";
TIMESPEC TS_clk_reset_div2clk1 = PERIOD "clk_reset/div2clk1" 25 MHz HIGH 50 %;
NET "rsio_01a/i_TxClk/cgate01a/latched" TNM_NET = "rsio_01a/i_TxClk/cgate01a/latched";
TIMESPEC TS_rsio_01a_i_TxClk_cgate01a_latched = PERIOD "rsio_01a/i_TxClk/cgate01a/latched" 25 MHz HIGH 50 %;
NET "xipMCLK" TNM_NET = "xipMCLK";
TIMESPEC TS_xipMCLK = PERIOD "xipMCLK" 50 MHz HIGH 50 %;
NET "sccb_bridge/cgate_sccb1/latched" TNM_NET = "sccb_bridge/cgate_sccb1/latched";
TIMESPEC TS_sccb_bridge_cgate_sccb1_latched = PERIOD "sccb_bridge/cgate_sccb1/latched" 25 MHz HIGH 50 %;
NET "sccb_bridge/cgate_sccb2/latched" TNM_NET = "sccb_bridge/cgate_sccb2/latched";
TIMESPEC TS_sccb_bridge_cgate_sccb2_latched = PERIOD "sccb_bridge/cgate_sccb2/latched" 25 MHz HIGH 50 %;
NET "xipCAM_PCLK" TNM_NET = "xipCAM_PCLK";
TIMESPEC TS_xipCAM_PCLK = PERIOD "xipCAM_PCLK" 50 MHz HIGH 50 %;
#Created by Constraints Editor (xc3s200-ft256-4) - 2013/02/11
INST "xipCAM_D[0]" TNM = "CAM_INPUTS";
INST "xipCAM_D[1]" TNM = "CAM_INPUTS";
INST "xipCAM_D[2]" TNM = "CAM_INPUTS";
INST "xipCAM_D[3]" TNM = "CAM_INPUTS";
INST "xipCAM_D[4]" TNM = "CAM_INPUTS";
INST "xipCAM_D[5]" TNM = "CAM_INPUTS";
INST "xipCAM_D[6]" TNM = "CAM_INPUTS";
INST "xipCAM_D[7]" TNM = "CAM_INPUTS";
INST "xipCAM_HREF" TNM = "CAM_INPUTS";
INST "xipCAM_VSYNC" TNM = "CAM_INPUTS";
TIMEGRP "CAM_INPUTS" OFFSET = IN 5 ns VALID 10 ns BEFORE "xipCAM_PCLK" RISING;
